.project {
    display: block;
    width: 90%;
    margin: 0 auto;
    background-color: rgb(240,240,240);
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    padding:15px;
}
.project:hover{
    box-shadow: 3px 3px 4px rgba(0,0,0,0.7);
}

a{
    color:#333;
}
a:hover{
    color:#333;
    text-decoration:none;
}