
@{
    ViewBag.Title = "howToPhotography";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="site-content">
    <h2>My very first Website</h2>
    <h3>
        This is my very first website.<br />
        I created it during my first year of IMS and it is mostly static because I didn't know any scripting language yet. <br />
        I spent many hours working on this page and, even though it is a very simple page and nothing overly impressive I am still
        very proud of it.<br />
    </h3>
    <p>

    </p>
</div>

