<div class="site-content">

    <h2>About me</h2>
    <h4>
        My name is Christian Gröber and I am currently in IT School in Aarau and Baden, Switzerland.<br />
        In my free time I love taking pictures and working on programming projects.<br />
        Aside that I am also a Scout (or how we call it - Jungschi) leader.
    </h4>
    <img class="profile-image" src="~/Content/img/About-me/P3300104_Lredit.jpg" />
    <br />
    <div class="resume">
        <table>
            <tr>
                <th><h3>Resume</h3></th>
            </tr>
            <tr>
                <th>Since 2016</th>
                <td><div class="resume-field">I am in IT School in Aarau since <b>August 2016</b></div></td>
            </tr>
            <tr>
                <th>2015<br />-2016</th>
                <td>
                    <div class="resume-field">
                        After my year in Ireland I started my apprenticeship which I quickly realized wasn't the right thing for me. <br />
                        During the first half year I started teaching myself Java and I soon after decided (February 2016) to quit
                        the apprenticeship and start at IMS (IT-School). During the next half year I prepared myself for the acceptance exam which would
                        take place in May of the same year. During that time I worked temporarily at Lyreco, an office supplies company.
                    </div>
                </td>
            </tr>
            <tr>
                <th>2014 <br />-2015</th>
                <td>
                    <div class="resume-field">
                        During Bezirksschule I was, like all other students in my class, looking for an apprenticeship.
                        All I knew was that I never wanted to return to school since school had left me pretty scared. I did, however,
                        love crafts so I thought I'd find a job where I could work with my hands. Since it took me quite some time to find something
                        I liked doing and was good at my mother talked to some of her friends and one told her I should go to Ireland where they have friends.
                        In autumn 2013 we went to visit them and I really enjoyed it there and I decided I wanted to go there for one year after school.
                        Of course I had to have my apprenticeship until then because otherwise I would have to travel back and forth for job interviews.<br />
                        Luckily I found something in spring 2014 and I immediately got the job. It was an apprenticeship as "Fahrzeugschlosser"
                        (The guys that repare trucks and stuff like that.)<br />
                        So from <b>August 2014 to July 2015</b> I was in Ireland, helping out on their farm and learning english.
                    </div>
                </td>
            </tr>
            <tr>
                <th>2010-<br />2014</th>
                <td><div class="resume-field">I visited Bezirksschule in Dottikon from <b>2010 to 2014</b></div></td>
            </tr>
            <tr>
                <th>2005-<br />2010</th>
                <td><div class="resume-field">I visited Primarschule in my hometown Dintikon from <b>2005 to 2010</b></div></td>
            </tr>
        </table>
    </div>
</div>