@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="gradient">
        <script>
            $(document).ready(function () {
                var winHeight = $(window).height();
                var winWidth = $(window).width();
                console.log(winHeight);
                $(".jumbotron").css("background-image", "url(../Content/img/DSCF5260_Lredit.jpg)");
                $(".post.about-this-page").css("background-image", "url(../Content/img/DSCF5259_Lredit.jpg)");
                $(".post.about-this-page").css("height", winHeight + "px");
                $(".post").css("background-size", $(window).width() + "px auto");
                $("h1").css("padding-top", ($(window).height() / 2) + "px");

                $(".post-box").css("width", winWidth * 0.8 + "px");
                $(".post-empty-box").css("width", winWidth * 0.2 + "px");

                $(".post-box.about-this-page").css("background-image", "url(../Content/img/back1.png)");
                $(".post-box").css("background-size", $(window).height() + "px auto");
                
            });
        </script>
        <h1>Welcome to my homepage</h1>
    </div>
</div>

<div class="main">
    <div class="post about-this-page">
        <div class="post-box about-this-page">
            <div class="padded-post">
                <h2 class="post-title">About this page</h2>
                <div class="post-text">
                    On here I will show you who I am and what I love doing. <br /><br />
                    <p style="font-size: smaller">Keep scrolling to see a short summary of what you fill find here or go directly to one of the sub pages via the navigation</p>
                </div>
            </div>
        </div>
        <div class="post-empty-box"></div>
    </div>

</div>