@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/css/Site.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.css" rel="stylesheet" />
<link href="~/Content/custom-css/index.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var winHeight = $(window).height();
        var winWidth = $(window).width();
        console.log(winHeight);
        $(".post").css("height", winHeight + "px");
        $(".post").css("background-size", $(window).width() + "px auto");
        $("h1").css("padding-top", $(window).height() / 2 + "px");
        $(".post-box").css("width", winWidth * 0.8 + "px");
        $(".post-empty-box").css("width", winWidth * 0.2 + "px");
        $(".post-box").css("background-size", $(window).height() + "px auto");

        $(".button").click(function () {
            var go;
            if ($(this).hasClass("about-me")) {
                document.location.href = "About-me";
            } else if ($(this).hasClass("photography")) {
                document.location.href = "Photography";
            } else if ($(this).hasClass("projects")) {
                document.location.href = "Portfolio";
            } else if ($(this).hasClass("contact")) {
                document.location.href = "Contact";
            } else if ($(this).hasClass("other")) {
                document.location.href = "Other";
            } else {
                alert("404 Page doesn't exist");
            }
        });

        if (winWidth <= 700) {
            var classes = ["about-this-page", "about-me", "photography", "projects", "contact", "other"];
            var img = ["guy-walking", "old-building", "bar", "fence", "guy", "building"];
            $(".jumbotron").css("background-image", "url(../Content/img/mobile/graffiti-mob.jpg !important)");
            $(".jumbotron").css("background-size", "auto " + winHeight + "px");

            for (i = 0; i < classes.length; i++) {
                $(".post." + classes[i]).css("background-image", "url(../Content/img/mobile/" + img[i] + "-mob.jpg)");
            }
        }
    });
</script>

<div class="jumbotron">
    <div class="gradient">
        <h1>Welcome to my homepage</h1>
    </div>
</div>

<div class="main">
    <div class="post about-this-page">
        <div class="post-box about-this-page">
            <div class="padded-post">
                <h2 class="post-title">About this page</h2>
                <div class="post-text about-this-page">
                    On here I will show you who I am and what I love doing. <br /><br />
                    <p style="font-size: smaller">Keep scrolling to see a short summary of what you fill find here or go directly to one of the sub pages via the navigation</p>
                </div>
            </div>
        </div>
        <div class="post-empty-box"></div>
    </div>

    <div class="post about-me">
        <div class="post-empty-box"></div>
        <div class="post-box about-me">
            <div class="padded-post">
                <h2 class="post-title about-me">About Me</h2>
                <div class="post-text about-me">
                    I am a 20 year old IT school in Aarau and Baden, Switzerland.<br />
                    In my free time I love<br /> taking pictures and editing them <br />and creating websites.<br /><br />

                    If you would like to know more check out the “About me” page.<br /><br />
                    <div class="button about-me"><p class="button-text about-me">About me</p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="post photography">
        <div class="post-box photography">
            <div class="padded-post">
                <h2 class="post-title photography">Photography</h2>
                <div class="post-text photography">
                    Since about 5 years I have been taking pictures, some good and some bad.<br /><br />
                    Click on this Button to see some of my work.
                    <div class="button photography"><p class="button-text photography">Photography</p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="post projects">
        <div class="post-box projects">
            <div class="padded-post">
                <h2 class="post-title projects">Projects</h2>
                <div class="post-text projects">
                    I got my first computer at the age of 12 and I started programming shortly after for LEGO Mindstorms. Ever since I was hooked.<br /><br />
                    On this site I will show you what projects I am currently working on and what I have already finished.
                    <div class="button projects"><p class="button-text projects">Projects</p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="post contact">
        <div class="post-box contact">
            <div class="padded-post">
                <h2 class="post-title contact">Contact</h2>
                <div class="post-text contact">
                    Since I am what they call a “Millennial” there are numerous ways to contact me.
                    <div class="button contact"><p class="button-text contact">Contact</p></div>
                </div>
            </div>
        </div>
    </div>

    <div class="post other">
        <div class="post-box other">
            <div class="padded-post">
                <h2 class="post-title other">Other</h2>
                <div class="post-text other">
                    I also do some other stuff so click here to read about that.
                    <div class="button other"><p class="button-text other">Other</p></div>
                </div>
            </div>
        </div>
    </div>
</div>