@{
    ViewBag.Title = "Projects";
}
<link href="~/Content/custom css/projects.css" rel="stylesheet" />
<div class="site-content">
    <h2>Projects</h2>
    <h5>
        Here I will talk about my IT related projects like my very first website or a weird Arduino project.
    </h5>
    <h3>Running Projects</h3>
    <div id="running">
        <div class="project">
            <h4>Project Precious Hands</h4>
            <p class="project-description">
                In school we have to do something that is called "IDPA" which translates to "Interdisciplinary Project Work". 
                Precious Hands is an organisation in India that helps children go to school by finding people that will donate money 
                to one or more children. I told someone in my church that we were still looking for a proper project and how luck would 
                have it the workers in India need a tool to keep track of all the payments. Although they did try using Excel that 
                didn't work very well so they went back to the old-school pen and paper. But that it very messy and hard to keep track of.<br />
                So our job is to create a desktop tool that will help them log all the payments and have an overview of all their children 
                and donors.<br />
                <a href="/Projects/PreciousHands">Click here to read more.</a>
            </p>
        </div>
    </div>
    <h3>Finished Projects</h3>
    <div id="finished">
        <a class="project" href="/Projects/ParisBlog">
            <h4>Paris Blog</h4>
            <p>
                Like all other IMS students as well I had the priviledge of getting to go to a foreign land to learn their language.<br />
                If I had had the choice I would most likely have gone to Ireland but my parents insisted that I went to learn 
                French which I am not as good at as English. And because they are funding that I couldn't really say no.<br />
                So I decided to go to Paris.<br />
                On this Blog I made my first steps in PHP and I also discovered a very interesting way of using Google Sheets as a CMS.<br />
                So click here if you would like to read more about that.
            </p>
        </a>
    </div>
    <h3>Planned Projects</h3>
    <div id="planned">

    </div>
</div>

