
@{
    ViewBag.Title = "Paris Blog";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/custom-css/projects.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script>
    $(document).ready(function () {
        var name = "paris-blog";
        if ($(".site-content").hasClass(name)) {
            $("body").css("background-color", $(".paris-blog").css("background-color"));
            $(".site-content").removeClass(name);
        }
    });
</script>

<div class="site-content paris-blog">
    <h2>ParisBlog</h2>
    <h4></h4>

    <h3>Gist Test</h3>

    <script src="https://gist-it.appspot.com/https://github.com/ChristianGroeber/Paris-Blog/blob/master/Content/html/galerie.php"></script>
    <hr />

</div>